.App {
  text-align: center;
}

.page-btn {
  display: flex;
  justify-content: space-between;
}

.page-btn Button {
  width: 70px;
  margin: 5px;
}

.menu {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.dropdown {
  margin: 2px;
}

.table {
  margin: 20px;
  max-width: 750px;
}

.filters {
  min-width: 200px;
  margin-left: 2px;
}

.find {
  min-width: 200px;
  height: 40px;
  margin: 3px;
}

.status {
  display: block;
  text-align: center;
}
