.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.page-btn {
  display: flex;
  justify-content: space-between;
}

.page-btn Button {
  width: 70px;
  margin: 5px;
}

Glyphicon {
  pointer-events: none;
}

.menu {
  margin: 5px;
}

.dropdown {
  margin: 5px;
}

.table {
  margin: 20px;
  max-width: 800px;
}
